<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lenovo-smart-retail.zdt-data-stack</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/luxiangnan/.local/bin/start-lenovo-smart-retail-zdt-data-stack.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/luxiangnan/Desktop/联想智慧零售项目/lenovo-smart-retail-cockpit</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>StandardOutPath</key>
  <string>/Users/luxiangnan/Library/Logs/lenovo-smart-retail/zdt-data-stack.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/luxiangnan/Library/Logs/lenovo-smart-retail/zdt-data-stack.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/luxiangnan/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
